@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.editDiv, .cvPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  height: 100%;
}

.header, .editComps > div, .editComps > form {
  background-color: #5a5959;
  margin: 20px 0;
  padding: 10px 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.45);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.45);;
}

.header {
  font-size: 25px;
  font-weight: bold;
}

.personal-visible {
  display: flex;
  flex-direction: column;
}

.personal-header-container, .exp-header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.personalFields {
  display: grid;
  grid-template-rows:  1fr 1fr;
  grid-template-columns: 3fr 2fr;
  gap: 15px;

  animation: drop 50ms 1 forwards;
  transform: scaleY(0.1);
  transform-origin: 50% 0%;
}

@keyframes drop {
  100% {
    transform: scaleY(1);
    transform-origin: 50% 0%;
  }
}

.personalFields > div {
  display: flex;
  flex-direction: column;
}

.personalFields input, .educationForm input, .experienceForm input{
  padding: 7px 5px;
}

.fullNameField {
  grid-row: 1/2;
  grid-column: 1/3;
}

.emailField {
  grid-row: 2/3;
  grid-column: 1/2;
}

.phoneField {
  grid-row: 2/3;
  grid-column: 2/3;
}

.fieldHeader {
  font-size: 20px;
}

.educationForm {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  animation: drop 50ms 1 forwards;
  transform: scaleY(0.1);
  transform-origin: 50% 0%;
}

.educationForm > header, .experienceForm > header {
  font-size: 20px;
}

.edu-header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.edu-header-container > header, .exp-header-container > header {
  font-size: 20px;
}

.educationForm div:nth-child(-n+5), .experienceForm div:nth-child(-n+4) {
  display: flex;
  flex-direction: column;
}

.edu-degree {
  grid-column: 1/2;
  grid-row: 1/2;
}

.edu-major {
  grid-column: 2/3;
  grid-row: 1/2;
}

.edu-school {
  grid-column: 1/3;
  grid-row: 2/3;
}

.edu-startDate {
  grid-column: 1/2;
  grid-row: 3/4;
}

.edu-endDate {
  grid-column: 2/3;
  grid-row: 3/4;
}

.edu-buttons {
  grid-row: 4/5;
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

#educationSubmit, #jobSubmit {
  margin-right: 10px;
}

.experienceForm {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  animation: drop 50ms 1 forwards;
  transform: scaleY(0.1);
  transform-origin: 50% 0%;
}

.exp-jobTitle {
  grid-row: 1/2;
  grid-column: 1/3;
}

.exp-employer {
  grid-row: 2/3;
  grid-column: 1/3;
}

.exp-startDate {
  grid-row: 3/4;
  grid-column: 1/2;
}

.exp-endDate {
  grid-row: 3/4;
  grid-column: 2/3;
}

.exp-desc {
  grid-row: 4/7;
  grid-column: 1/3;
}

.exp-buttons {
  grid-row: 7/8;
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

#jobDescription {
  width: 100%;
}

.caret {
  background-color: #5a5959;
  width: auto;
  text-align: end;
  font-size: 25px;
  transform: translateY(-20%);
  user-select: none;
}

.caret:hover {
  cursor: pointer;
}

.visible {
  transition: 100ms;
}

.hidden {
  display: none;
}

/* CVPage (right side) */

.cvPage {
  background-color: rgb(245, 243, 243);
  min-height: 100vh;
}

.cvName {
  background-color: #162521;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
}

.fullNameDiv, .emailDiv, .phoneDiv {
  display: flex;
  justify-content: center;
}

.fullNameDiv {
  grid-column: 1/3;
  grid-row: 1/2;

  padding: 10px;
  font-size: 36px;
  font-family: 'Playfair Display';
}

.emailDiv {
  grid-column: 1/2;
  grid-row: 2/3;
}

.phoneDiv {
  grid-column: 2/3;
  grid-row: 2/3;
}

.cv-top-container {
  display: flex;
}

.cv-top-container svg {
  margin-right: 10px;
}

.eduArrs, .cvExperience {
  padding: 10px 40px;
}

.cv-edu-wrap{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr 4fr;
  color: #162521;
}

.cv-edu-wrap > h1, .cv-exp-wrap > h1 {
  font-size: 20px;
  font-weight: 500;
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #bddcd4;
  padding: 10px;
}

.cv-edu-date, .cv-exp-date {
  grid-column: 1/2;
  grid-row: 2/3;
  text-wrap: wrap;
  padding: 0 10px;
}

.cv-edu-textWrap, .cv-exp-textWrap {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}

.cv-edu-degree, .cv-exp-job {
  font-weight: bold;
}

.cv-exp-wrap {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr 4fr 2fr;
  color: #162521;
}

.cv-exp-desc {
  grid-row: 3/4;
}

/* Editable fields */

.edit-edu-Div > div {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.edit-edu-visible {
  animation: drop 50ms 1 forwards;
  transform: scaleY(0.1);
  transform-origin: 50% 0%;
}

.edit-edu-text {
  grid-column: 1/2;

  display: flex;
  flex-direction: column;
}

.edit-edu-Buttons {
  display: flex;
  grid-column: 2/3;
  justify-content: flex-end;
  align-items: center;
}

.edit-edu-Buttons > svg {
  margin: 10px;
}

.edit-edu-Buttons > svg:hover {
  cursor: pointer;
}

.edit-edu-degree {
  font-weight: bold;
}

.edit-edu-uni, .edit-edu-dates {
  font-size: 14px;
}

#edit-edu-button {
  width: 100%;
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#edit-edu-button svg {
  margin-right: 10px;
  height: 18px;
  width: 18px;
}